{% extends "layouts/base_layout.html" %}
{% from "components/macros.html" import govuk_button %}
{% set service_name = "Business Case Improvement" %}
{% set page_title = "Home" %}

{% block content %}
<!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Approvals service</h1>
        <p class="govuk-body-l">Find out which approval process applies to your request.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-m">Triage tool</h2>
                <p class="govuk-body">
                    Not sure which approval process you need? Answer a few questions to find out.
                </p>
                {{ govuk_button("Start triage", href=url("triage:index")) }}
            </div>
        </div>
    </div>
</div> -->
{% endblock %}